/* CONTENEDOR PRINCIPAL */
.container {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* IMAGEN DE FONDO */
.backgroundImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url("/isologo-half.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  opacity: 0.5;
  z-index: -1;
}

/* TÍTULO */
.title {
  font-size: clamp(18px, 2.5vw, 24px);
  font-weight: bold;
  margin: 50px 0 70px 0;
  text-align: left;
  color: #fff;
  font-family: "Neuropolitical RG", sans-serif;
}

/* GRILLA DE TARJETAS */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* TARJETAS */
.card {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

/* TÍTULO DE CADA TARJETA */
.cardTitle {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  white-space: normal;
  overflow-wrap: break-word;
}

.divider {
  width: 75%;
  height: 4px;
  background-color: white;
  margin: 10px auto;
}

.iconContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.iconItem {
  text-align: center;
}

.icon {
  font-size: clamp(24px, 4vw, 32px);
  color: #007bff;
}

.iconText {
  font-size: clamp(14px, 2vw, 16px);
  margin-top: 2px;
  color: #fff;
  white-space: normal;
  overflow-wrap: break-word;
}

/* IMÁGENES EN LAS TARJETAS */
.imageWrapper {
  width: 100%;
  max-width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.responsiveImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}

.responsiveImage:hover {
  transform: scale(1.1);
}

/* TABLETS PEQUEÑAS Y PHABLETS (1024px a 768px) */
@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* PHABLETS Y MÓVILES GRANDES (768px a 480px) */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 20px;
    text-align: center;
  }

  .cardTitle {
    font-size: 18px;
  }

  .imageWrapper {
    max-width: 250px;
    height: 250px;
  }

  .responsiveImage:hover {
    transform: scale(1.05);
  }
}

/* MÓVILES PEQUEÑOS (menos de 480px) */
@media (max-width: 480px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 18px;
    text-align: center;
  }

  .cardTitle {
    font-size: 16px;
  }


  .imageWrapper {
    max-width: 200px;
    height: 200px;
  }

  .responsiveImage:hover {
    transform: scale(1.03);
  }
}
